body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

.bank {
    background: white;
    width: 350px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.balance {
    background: #e6ffe6;
    padding: 10px;
    margin: 10px 0;
    font-size: 18px;
}

input {
    width: 90%;
    padding: 8px;
    margin: 10px 0;
}

button {
    padding: 8px 12px;
    margin: 5px;
    cursor: pointer;
}

ul {
    text-align: left;
    padding-left: 20px;
}
